<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Project</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {{!-- <%= include 'navbar.hbs' %> --}}
</head>

<body>
    {{> navbar data = datadb}}
    {{> slide slides = slides}}
    {{!-- <h1>hi i am learning this.</h1> --}}
    {{!-- services section --}}
    <section id="services_section" class="py-4">
        <div class="container">
            <h2 class="text-secondary text-center mb-4">Services that we provide</h2>
            <div class="row">
                {{#each service}}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="conatainer text-center service_icon">
                                <i class="{{this.icon}}"></i>
                            </div>
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <a href="{{this.link}}" class="card-link">{{this.linktext}}</a>
                            {{!-- <a href="#" class="card-link">Another link</a> --}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        </div>
    </section>
    <section id="contact-form" class="contact-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class ="text-center">Contact Us</h3>
                    <form action='/user/processform' method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone
                                else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputnumber" class="form-label">Contact number</label>
                            <input name="phone" type="number" class="form-control" id="exampleInputnumber">
                        </div>
                        <div class="form-floating text-black">
                            <textarea name="query" class="form-control mb-4" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 150px"></textarea>
                            <label for="floatingTextarea2">Query</label>
                        </div>
                        <div class="containerfluid text-center">
                            <button type="submit" class="btn btn-dark py-6">Submit</button>
                        </div>
                        </form>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>